<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slack banner generator</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <!-- build:css css/styles.min.css -->
    <link rel="stylesheet" href="css/styles.css">
    <!-- /build -->
</head>

<body>
	<section class="hero is-light is-fullheight">
		<div class="hero-body">
			<div class="container" id="banner-app">
				<div class="card">
					<header class="card-header">
						<p class="card-header-title">{{ title }}</p>
					</header>

					<div class="card-content">
						<div class="content">
							<form id="input-form">
								<div class="columns">
									<div class="column">
										<div class="field">
											<div class="control">
												<label class="label">Text</label>
												<input type="text" class="input" id="input-text" maxlength="10" placeholder="Text" v-model="input" v-on:keyup="handleInputChange"/>
											</div>
										</div>
									</div>
								</div>

								<div class="columns">
									<div class="column">
										<div class="field">
											<div class="control">
												<label class="label">Output</label>
												<textarea class="textarea" id="output" v-model="output" readonly></textarea>
											</div>
										</div>
									</div>
								</div>

								<div class="columns">
									<div class="column is-half">
										<div class="field">
											<div class="control">
												<label class="label">Background emoji</label>
												<input type="text" class="input" id="bg-emoji" placeholder="Background emoji" v-model="bgEmoji" v-on:keyup="onBGEmojiChange"/>
											</div>
										</div>
									</div>
									<div class="column is-half">
										<div class="field">
											<div class="control">
												<label class="label">Text emoji</label>
												<input type="text" class="input" id="text-emoji" placeholder="Text emoji" v-model="textEmoji" v-on:keyup="onTextEmojiChange"/>
											</div>
										</div>
									</div>
								</div>

								<div class="columns">
									<div class="column">
										<div class="field is-grouped is-grouped-centered">
											<div class="control">
												<button type="button" class="button is-medium is-dark" id="btn-copy" :disabled="!output" v-on:click="copyOutput">Copy</button>
											</div>
										</div>
									</div>
								</div>



							</form>
						</div>
					</div>

					<transition name="fade" v-on:after-enter="setTimeout(function() { displayCopiedMessage = false; }, 3000);">
						<footer class="card-footer" v-if="displayCopiedMessage">
							<div class="card-footer-item notification is-primary is-light" id="notification-copied">
								<button class="delete" v-on:click="closeCopiedMessage"></button>
								Copied to clipboard!
							</div>
						</footer>
					</transition>
				</div>

				<br>

			</div>
		</div>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<!-- build:js js/app.min.js -->
	<script src="js/figlet.js"></script>
	<script src="js/app.js"></script>
	<!-- /build -->
</body>

</html>